extends ../layouts/dadmin_in.pug

block title
    title Mi perfil

block headstyles
    // Bootstrap core CSS
    link(href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    // Custom fonts for this template
    link(href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css")
    // Custom styles for this template
    link(href="/public/css/sb-admin.css" rel="stylesheet")
    link(href="/public/css/buttons.css" rel="stylesheet")

block content

    #content-wrapper
        .container-fluid
            // Breadcrumbs
            ol.breadcrumb
                li.breadcrumb-item Usuarios
                li.breadcrumb-item.active Mi perfil
            
            .card.card-register.mx-auto.mt-5
                .card-header Mi perfil
                .card-body
                    form(method="post")
                        // for alert
                        if messages.type == 1
                            .alert.alert-danger.alert-dismissible.fade.show(role="alert") 
                                | #{messages.message} 
                                button.close(type="button" data-dismiss="alert" aria-label="Close")
                                    span(aria-hidden="true") ×
                        else if messages.type == 2
                                .alert.alert-success.alert-dismissible.fade.show(role="alert")
                                    | #{messages.message}
                                    button.close(type="button" data-dismiss="alert" aria-label="Close")
                                        span(aria-hidden="true") ×
                        
                        .form-group
                            .form-label-group
                                input#forUsername.form-control(type="text" value=user.username disabled autofocus="autofocus")
                                label(for="forUsername") Nombre de usuario

                        .form-group
                            .form-label-group
                                input#forDelegation.form-control(type="text" value=user.delegation.name disabled autofocus="autofocus")
                                label(for="forDelegation") Delegación                            
                        .form-group
                            .form-label-group
                                input#forPasswordOld.form-control(type="password" name="password_old" placeholder="12345" required="required")
                                label(for="forPasswordOld") Contraseña actual                        
                        .form-group
                            .form-row
                                .col-md-6
                                    .form-label-group
                                        input#forPasswordNew1.form-control(type="password" name="password_new1" placeholder="12345" required="required")
                                        label(for="forPasswordNew1") Nueva contraseña
                                .col-md-6
                                    .form-label-group
                                        input#forPasswordNew2.form-control(type="password" name="password_new2" placeholder="12345" required="required")
                                        label(for="forPasswordNew2") Confirmar nueva contraseña

                        button.btn.btn-primary.btn-block(type="submit") Guardar

block bodystyles
    // Bootstrap core JavaScript
    script(src="/public/vendor/jquery/jquery.min.js")
    script(src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js")
    // Core plugin JavaScript
    script(src="/public/vendor/jquery-easing/jquery.easing.min.js")
    // Custom scripts for all pages
    script(src="/public/js/sb-admin.min.js")